.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
backend/.env
__pycache__/
*.py[cod]
*$py.class
venv/
.env
/backend/app/routers/__pycache__
/backend/app/__pycache__
*.pyc
/code-export
export_code.py
export_code_batch.py
